@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
div {-webkit-tab-highlight-color: rgba(0,0,0,0); } 
ol,ul{
	list-style-type: none;
}
a{
	color: #666;
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}

.fade{
	opacity: 0;
}
.show{
	opacity: 1;
}
body{
	width: 960px;
	height: 600px;
	margin: 70px auto;
}
#top,#main,#bottom {
	width: 960px;
	height: 100px;
	margin: auto;
}

.containe  {
	width: 960px;
	height: 100px;
	margin: 0px auto;
}

#top {
	height: 31.8px;
	background-image: linear-gradient(to left bottom , #1A68BA, #1976D6 );
	border-bottom: 1px solid #113E79;
}
#top .container .topleft{width:120px;height:30px;}
#top .container .topleft p {
	font-style:italic;
	font-size: 17px;
	color: white;
	width: 120px;
	height: 28px;
	margin: 2px auto;;
	text-align: center;
}

#top .container .topright{width:30px;height:30px;}
#top .container .topright img{
	width:20px;
	height:20px;
	margin: 5px auto;
}

#main {
	height: 548.4px;
	
}

#main .container {
	width: 960px;
	height: 548.4px;
}

  #main #FlowContactDiv {
    height: 478px;
    width: 164px;
    background-color: #F2F2F2;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    position: absolute;
    left: 246px;
    top: 170px;
    z-index: 998;
    display: none;
  }
  #main #FlowContactDiv #flowImg {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
  }
#main #FlowContactDiv #ContactDiv {
  width: 160px;
  margin-left: 2px;
  margin-top: 30px;
  height: 425px;
  overflow: auto;
  background-color: #EDEDED;
  
}

#main #FlowContactDiv #ContactDiv #ContactMessageDiv {
	width: 154px;
	margin-left: 1px;
	margin-top:2px;
}

#main #FlowContactDiv #ContactDiv #ContactMessageDiv #ContactUL {
	width: 154px;
	border: 1px solid #B6B6B6;
	border-radius: 3px;
}

#main #FlowContactDiv #ContactDiv #ContactMessageDiv #ContactUL #ContactLi {
	width: 150px;
	height: 42px;
	margin-left:1px;
	margin-top: 3px;
	margin-bottom: 2px;
	background-color: white;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
}

#main #FlowContactDiv #ContactDiv #ContactMessageDiv #ContactUL #ContactLi #ContactIcon {
	width: 38px;
	height: 38px;
	margin-top: 2px;
	margin-left: 2px;
}

#main #FlowContactDiv #ContactDiv #ContactMessageDiv #ContactUL #ContactLi #ContactIDp {
	color: #A4A4A4;
	font-size: 14px;
	width: 50px;
	margin-left: 6px;
	margin-top: 3px;
	float: left;
}

#main #FlowContactDiv #ContactDiv #ContactMessageDiv #ContactUL #ContactLi #ContactTelp {
	color: #A4A4A4;
	font-size: 11px;
	width: 70px;
	height: 20px;
	margin-left: 5px;
	margin-top: 3px;
	float: left;
}
#main #FlowContactDiv #ContactDiv #ContactMessageDiv #ContactUL #ContactLi .DelContact {
	width: 12px;
	height: 12px;
	margin-top: 5px;
	margin-right: 15px;
}

  .test-1::-webkit-scrollbar {
  /*滚动条整体样式*/
  width : 5px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
  }
  .test-1::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow   : inset 0 0 5px #FFFFFF;
    background: #B9B9B7;
  }
  .test-1::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  
  border-radius: 10px;
  background   : #ededed;

  }

#main #MainLeft { 
	z-index: 999;
	position:absolute;
	width: 136px;
	height: 548.4px;
	background-image: linear-gradient(to left bottom , #D6E5EF, #D8E4F2 );
	border-left: 1px solid #A7AEB4;
}

#main #MainLeft #MainLeftTop {
	width: 126px;
	height: 58.3px;
	margin-left: 5px;
	border-bottom: 1px solid #C8D4E2;
}

#main #MainLeft #MainLeftTop .AdminMessage {
	width: 126px;
	height: 48px;
	background-color: white;
	margin-top: 9px;
}

#main #MainLeft #MainLeftTop .AdminMessage .AdmIcon {
	width: 41px;height: 41px;margin-top:3px;margin-left: 3px;
}

#main #MainLeft #MainLeftTop .AdminMessage .Admp1 {
	color: #07090B;font-size:15px;width:70px;height:20px;text-align: center;margin-top: 3px;margin-right: 4px;
}


#main #MainLeft #MainLeftTop .AdminMessage .Admp2 {
	font-size:13px;color: white;background-color: #108FBE;width:75.5px;height:20px;text-align: center;margin-right: 3px;
}

#main #MainLeft #MainLeftBottom {
	width: 126px;
	height: 490.1px;
	margin-left: 5px;
}

#main #MainLeft #MainLeftBottom .LBTop {
	width:126px;
	margin-top: 15px;
	height: 20px;
	background-color: #B5C6D6;
}

#main #MainLeft #MainLeftBottom .LBTop #LBTA1 {
	width: 45px;
	height: 20px;
	text-align: center;
}

#main #MainLeft #MainLeftBottom .LBTop #LBTA2 {
	width: 80px;
	height: 20px;
	border-left: 1px solid #A7AEB4;
	text-align: center;
}

#main #MainLeft #MainLeftBottom #GroupDiv {
	width: 126px;
	height: 100px;
}

#main #MainLeft #MainLeftBottom #GroupDiv #GroupUL {
	width: 126px;
	height: 100px;
}

#main #MainLeft #MainLeftBottom #GroupDiv #GroupLi {
	width: 126px;
	height: 15px;
	margin-top: 15px;
}

#main #MainLeft #MainLeftBottom #GroupDiv #GroupLi a {
	color:#6F767F;
	font-size: 12px;
	font-weight:bold;
	vertical-align: 2px;
	margin-left: 8px;
}


#main #MainRight {
	width: 821px;
	height: 548.4px;
	border-left: 1px solid #A7AEB4;
	border-right: 1px solid #A7AEB4;
}

#main #MainRight #MainRightTop {
	width: 821px;
	height: 36px;
	background-color: #EDF2F8;
	border-bottom: 1px solid #A7AEB4;
}

#main #MainRight #MainRightTop .ContactSearchDiv {
	width: 140px;
	height: 20px;
	margin-right: 10px;	
	margin-top: 8px;
}


#main #MainRight #MainRightHeader {
	width: 821px;
	height: 30px;
	background-color: #F5F5F5;
	border-bottom: 1px solid #A7AEB4;
}

#main #MainRight #MainRightHeader .RHLDiv {
	width: 200px;
	height: 18px;
	margin-top: 5px;
	margin-left: 10px; 
}

#main #MainRight #MainRightHeader .RHLDiv #RHLUl {
	width: 200px;
	height: 18px;
}

#main #MainRight #MainRightHeader .RHLDiv #RHLUl #RHLli {
	width: 60px;
	height: 18px;
	margin-left: 3px; 
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	text-align: center;
	background-color: #F3F3F3;
}
#main #MainRight #MainRightHeader .RHLDiv #RHLUl #RHLli a{
	color: #444444;
	font-size: 10px;
	font-weight:bold;
	vertical-align: 2px;
}


#main #MainRight #MainRightMain {
	width: 821px;
	height: 426px;
	background-image: linear-gradient(to bottom,#E6EDF3,  #F6F6F6);
	border-bottom: 1px solid #A7AEB4;
}

#main #MainRight #MainRightBottom {
	width: 821px;
	height: 53px;
	background-color: #EAF1FB;
}



#bottom {
	height: 15.8px;
	background-image: linear-gradient(to left, #1A5EAC, #145DB2 );
}
#bottom .container{
	height: 15.8px;
}
#bottom .container p {
	height: 13.8px;
	width: 400px;
	font-size: 12px;
	color: #3F84D1;
	margin-left: 10px;
}

.black_overlay{
	display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #BFBFBF;
    z-index: 1000;
    -moz-opacity: 0.8;
    opacity:.50;
    filter: alpha(opacity=88);
}
.white_content {
	box-shadow: 10px 10px 5px #888888;
    display: none;
    position: absolute;
    top: 320px;
    left: 700px;
    width: 150px;
    height: 40px;
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #E8F2FE;
    z-index: 1001;
    overflow: auto;
    font-size: 12px;
}
#newforminput{
	font-size: 12px;
	height:17px;
	width: 70px;
	float:left;
	margin-left: 10px;
	margin-top: 5px;
	border: 1px solid #888888;
	border-radius: 3px;
	text-align: center;
}
#newformsubmit{
	float:right;
	margin-top: 3px;
	margin-right: 5px;
}
#newformhead{
	height:15px;
	width:150px;
	background-color:#1971CD;
	font-size: 10px;
}
#newformhead #left{
	float:left;
	height:15px;
	width:130px;
	font-size: 10px;
	color: white;
	font-weight: bold;
	text-align: center;
}
#newformhead #right{
	float:right;
	height:15px;
	width:20px;
}
#newformhead #right #exitimg{
	height: 14px;
	width: 14px;
	margin-top: 1px;
	margin-right: 1px;
	font-size: 10px;
}


#bottom {
	height: 15.8px;
	background-image: linear-gradient(to left, #1A5EAC, #145DB2 );
}
#bottom .container{
	height: 15.8px;
}
#bottom .container p {
	height: 13.8px;
	width: 400px;
	font-size: 12px;
	color: #3F84D1;
	margin-left: 10px;
}



 @keyframes fadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @-webkit-keyframes fadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @-moz-keyframes fadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @-o-keyframes fadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @-ms-keyframes fadeIn {
      0%    {opacity: 0}
      100%  {opacity: 1}
    }
    @keyframes fadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    @-webkit-keyframes fadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    @-moz-keyframes fadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    @-o-keyframes fadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    @-ms-keyframes fadeOut {
      0%    {opacity: 1}
      100%  {opacity: 0}
    }
    #toast{
      background: #108FBE;
      color: #fff;
      font-size: 16px;
      line-height: 1;
      padding:10px;
      border-radius: 3px;
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      z-index: 9999;
    }
    .hide{
      display: none;
    }
    .fadeOut{
      animation: fadeOut .5s;
    }
    .fadeIn{
      animation:fadeIn .5s;
    }